<div class="blog-item step">
    <div class="overlay"></div>
            {{#link-to 'post' post class="link_button"}}
    <i class="fa fa-link"></i>
            {{/link-to}}
    <a {{bind-attr href="post.cover"}} class="resize_button fancybox">
        <i class="fa fa-arrows-alt"></i>
    </a>
    <img {{bind-attr src="post.cover"}} alt="" />
    <div class="content">
        <h4>{{#link-to 'post' post title=post.title}} {{post.title}} {{/link-to}}</h4>
        <i class="fa fa-tag"></i>
        {{#link-to 'posts' (query-params category=post.category)}}{{post.category}}{{/link-to}}
        {{#if isAdmin}}
            <span class="action-buttons">
                <a {{action "removePost"}} class="btn btn-danger" href="#">
                    <i class="fa fa-trash-o fa-lg"></i></a>
            </span>
        {{/if}}
    </div>
</div>