<!-- Blog Title & Description -->
<div {{bind-attr class=":block :step editMode:editing"}}>
    <div class="header">
        {{#if editMode}}
            <div>
                <label for="editTitle">Title:</label>
                {{edit-text value=unit.title class="edit-state" id="editTitle"}}
            </div>
        {{else}}
            <h2>{{unit.description}}
                {{#if isAdmin}}
                    <a {{action "startEditing"}} class="btn btn-primary" href="#">
                        <i class="icon-pencil icon-large"></i>
                    </a>
                {{/if}}
            </h2>
        {{/if}}
    </div>
    <div class="area">
        {{#if editMode}}
            <div>
                <label for="editDescr">Description</label>
                {{edit-text value=unit.description class="edit-state" id="editDescr"}}
            </div>
            <div>
                <label for="editCat">Category:</label>
                {{edit-text value=unit.category class="edit-state" id="editCat"}}
            </div>
            <div>
                <label for="editCover">Cover</label>
                {{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
            </div>
            <label for="editArea">Post:</label>
            {{wysiwyg-editor content=unit.text header="Edit"}}
            <a {{action "completeEditing"}} class="btn btn-primary" href="#">
                <i class="icon-ok icon-large"></i>
            </a>
        {{else}}
            <p>{{{unit.text}}}</p>
        {{/if}}
    </div>
</div>
<!-- Blog Title & Description end -->