<!-- Blog Title & Description -->
<div {{bind-attr class=":block :step editMode:editing"}}>
    <div class="header">
        {{#if editMode}}
            <label for="editTitle">Title:</label>
            {{edit-text value=project.title class="edit-state" id="editTitle"}}
        {{else}}
            <h2>{{project.description}}</h2>
            {{#if isAdmin}}
                <a {{action "startEditing"}} class="btn btn-primary" href="#">
                    <i class="fa fa-pencil fa-lg"></i>
                </a>
                <a {{action "removeProject"}} class="btn btn-danger" href="#">
                    <i class="fa fa-trash-o fa-lg"></i>
                </a>
            {{/if}}
        {{/if}}
    </div>
    <div class="area">
        {{#if editMode}}
            <div>
                <label for="editDescr">Description</label>
                {{edit-text value=project.description class="edit-state" id="editDescr"}}
            </div>
            <div>
                <label for="editCover">Cover</label>
                {{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
            </div>
            <label for="editPost">Post:</label>
            {{wysiwyg-editor content=project.text class="edit-state" id="EditProject"}}
            <a {{action "completeEditing"}} class="btn btn-primary" href="#">
                <i class="fa fa-check fa-lg"></i></a>
        {{else}}
            <p>{{{project.text}}}</p>
        {{/if}}
    </div>
</div>
<!-- Blog Title & Description end -->